@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/font-awesome.css")
@Styles.Render("~/Content/CustomStyle.css")


<header id="cabecalho">
    <div id="search" style="margin-top: 10px; margin-bottom: 10px;
    padding-left: 14px">
        <form method="get" action="http://www.google.com/search">
            <input type="text" name="q" size="22" maxlength="255" value="" />
            <input type="submit" class="btn-sm" value="Buscar" />
            <br />
            <input type="radio" name="sitesearch" value="" />
            Google
            <!--value="posterior link do site"-->
            <input type="radio" name="sitesearch" value="c-sharpcorner.com" checked />
            Adriano Luiz
            <br />
        </form>
    </div>

    <div class="container-fluid">
        <div id="my-carousel" class="carousel slide"
             data-ride="carousel" data-interval="2200">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#my-carousel" data-slide-to="1"></li>
                <li data-target="#my-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img method="get" src="~/imagens/carousel-2-img.jpg"
                         class="img-responsive img-fluid" alt="Aperto de mão">
                    <div class="carousel-caption" style="color: #7076eb">
                        <h2>Uma nova opção para o seu negócio!</h2>
                    </div>
                </div>

                <div class="item">
                    <img method="get" src="~/imagens/carousel-0-img.jpg"
                         class="img-responsive img-fluid" alt="Pessoas debruçadas numa mesa">
                    <div class="carousel-caption" style="color: #fafafa">
                        <h2>Serviços para você!</h2>

                    </div>
                </div>

                <div class="item">
                    <img method="get" src="~/imagens/carousel-1-img.jpg"
                         class="img-responsive img-fluid" alt="Mesa com computador, celular e documentos">
                    <div class="carousel-caption" style="color: #7076eb">
                        <h2>Opções que cabem nas suas mãos!</h2>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#my-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#my-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
    <br /><br /><br />
</header>


<section id="text-columns">
    <br />
    <div class="row"
         style="margin-top: 40px; align-content: center;">
        <div class="col-md-4 text-center">
            <h2>Sobre</h2>
            <p>
                Etiam porta dolor eu nisi aliquet, nec fringilla velit elementum. Phasellus sed mi
                non est congue efficitur non sed ex.Integer urna purus, blandit vitae est id, tempus
                feugiat nunc.Etiam porta dolor eu nisi aliquet, nec fringilla velit elementum.
            </p>
            <button type="button" class="btn btn-sm" data-toggle="modal"
                    data-target="#modal-exemplo">Leia mais!
            </button>
            <br />
        </div>
        <div class="col-md-4 text-center">
            <br />
            <img src="~/imagens/img-circle.jpg" class="img-circle img-responsive" style="height: 350px; width: 350px;" alt="Profissional Adriano">
            <h2>Profissional qualificado</h2>
            <p>
                Porta dolor eu nisi aliquet, nec fringilla velit elementum. Phasellus sed mi non est congue
                efficitur non sed ex.
                Blandit vitae est id, tempus feugiat nunc, etiam porta dolor.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h2>Experiência de mercado</h2>
            <p>
                Nisi aliquet, nec fringilla velit elementum. Phasellus sed mi non est congue efficitur.
                blandit vitae est id, tempus feugiat nunc.Etiam porta dolor eu nisi aliquet, nec fringilla velit elementum.
                Phasellus sed mi non est congue!
            </p>
            <button type="button" class="btn btn-sm" data-toggle="modal"
                    data-target="#modal-exemplo">Leia mais!
            </button>
            <br />
        </div>
    </div>
</section>



<!-- Jumbotron-->
<section id="my-jumbotron">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="display-4">
                        <i class="fa fa-flask text-primary"
                           style=" margin-right: 11px;
                                color:#090037" aria-hidden="true">
                        </i>
                        Adriano Luiz - Serviços Químicos
                    </h1>
                    <h2>
                        Agilidade e praticidade para os seus serviços químicos!
                    </h2>
                </div>
            </div>
        </div>
        <br />
    </div>
</section>



<section id="thumbnail-cards" style="background-color: rgba(170, 170, 170, 0.095);">
    <br />
    <dv class="row">
        <h1 class="text-center" style="color:#090037">O nosso serviço químico ao seu alcance!</h1>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="background-color: rgba(170, 170, 170, 0.065);">
                <img src="~/imagens/thumbnail-1.png" class="img-responsive" alt="Profissional efetuando serviço">
                <div class="caption">
                    <h3>Serviços</h3>
                    <p>Integer urna purus, blandit vitae est id, tempus feugiat nunc.</p>
                    <button type="button" class="btn btn-default" data-toggle="modal"
                            data-target="#modal-exemplo">
                        Leia mais!
                    </button>
                </div>
            </div>
            <br />
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="background-color: rgba(170, 170, 170, 0.065);">
                <img src="~/imagens/thumbnail-2.png" class="img-responsive" alt="Produto exemplo">
                <div class="caption">
                    <h3>Produtos</h3>
                    <p>Est congue efficitur non sed ex.Integer urna purus, blandit vitae.</p>
                    <button type="button" class="btn btn-default" data-toggle="modal"
                            data-target="#modal-exemplo">
                        Leia mais!
                    </button>
                </div>
            </div>
            <br />
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="background-color: rgba(170, 170, 170, 0.065);">
                <img src="~/imagens/thumbnail-3.png" class="img-responsive" alt="Aperto de mão">
                <div class="caption">
                    <h3>Pedidos</h3>
                    <p>
                        Etiam porta dolor eu nisi aliquet, nec fringilla velit elementum.
                        Est congue efficitur non sed ex. Integer urna purus, blandit vitae.
                        Integer urna purus, blandit vitae est id, tempus feugiat nunc.
                        Est congue efficitur non sed Integer vitae.
                    </p>
                    <button type="button" class="btn btn-default" data-toggle="modal"
                            data-target="#modal-exemplo">
                        Leia mais!
                    </button>
                </div>
            </div>
        </div>
    </dv>
    <br />
</section>


<section id="text-inverse">
    <br /><br />
    <hr />
    <div class="container" style="margin-top: 85px">
        <div class="row" id="div-text-inverse-1">
            <div class="col-sm-7">
                <h2 class="display-3">
                    <i class="fa fa-handshake-o text-primary"
                       style="margin-right: 11px;
                        color: #272727" aria-hidden="true"></i>Marque uma visita!
                </h2>
                <p class="text-justify">
                    Etiam porta dolor eu nisi aliquet, nec fringilla velit elementum. Phasellus sed mi non est congue efficitur non sed ex.
                    Integer urna purus, blandit vitae est id, tempus feugiat nunc.
                </p>
            </div>
        </div>

        <div class="row" id="div-text-inverse-2">
            <div class="col-sm-7 text-right">
                <h1 class="display-3">
                    <i class="fa fa-map-marker text-primary"
                       style="margin-right:11px;
                        color: #272727" aria-hidden="true"></i>Nos encontre aqui:
                </h1>
                <p class="text-justify" style="padding-bottom: 150px">
                    Etiam porta dolor eu nisi aliquet, nec fringilla velit elementum. Phasellus sed mi non est congue efficitur non sed ex.
                    Integer urna purus, blandit vitae est id, tempus feugiat nunc.Etiam porta dolor eu nisi aliquet, nec fringilla velit elementum.
                    Phasellus sed mi non est congue!
                </p>
            </div>

            <div class="col-sm-6 col-md-4 text-right">
                <iframe as width="318" height="292" frameborder="0" style="border:0; margin-top: -142px"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.9601882000443!2d-48.48818178544729!3d-20.954113876378536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bbe3fbb9eeaec9%3A0x5c8f528bff4c868d!2sUNIFAFIBE!5e0!3m2!1spt-BR!2sbr!4v1587757937980!5m2!1spt-BR!2sbr"></iframe>
            </div>
        </div>
    </div>
</section>



<!-- Rodapé Index -->
<section id="rodape">
    <div class="row">
        <div class="col-12 my-5"><hr></div>
        <div class="col-sm-4">
            <h3>Faça um orçamento conosco!</h3>
            <h2>Contato</h2>
            <address>
                Bebedouro, R. Paul Harris SP, Brasil - 14711012<br />
                <abbr title="Phone">Tel:</abbr>
                (17)98052-6399
            </address>

            <address>
                <strong>Contato:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            </address>
        </div>


        <div class="col-sm-2">
            <img src="//assets.pagseguro.com.br/ps-integration-assets/banners/pagamento/todos_animado_125_150.gif"
                 alt="Logotipos de meios de pagamento do PagSeguro" title="Este site aceita pagamentos com as principais bandeiras e
             bancos, saldo em conta PagSeguro e boleto.">


            <img style="margin-top: 25px" src="//assets.pagseguro.com.br/ps-integration-assets/banners/seguranca/seguranca_125x125.gif"
                 alt="Banner PagSeguro" title="Compre com PagSeguro e fique sossegado">
        </div>

        <div class="col-sm-3">
            <h3>Menu</h3>
            <div class="list-group text-center">
                <a href="#cabecalho" class="list-group-item list-group-item-action list-group-item-secondary">Início</a>
                <a href="#text-columns" class="list-group-item list-group-item-action list-group-item-secondary">Sobre</a>
                <a href="#thumbnail-cards" class="list-group-item list-group-item-action list-group-item-secondary">Serviços e Produtos</a>
                <a href="#text-inverse" class="list-group-item list-group-item-action list-group-item-secondary">Se torne um parceiro</a>               
            </div>
        </div>


        <div class="col-sm-3">
            <h3>Social</h3>
            <div class="list-group text-center">
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
                    Instagram<i class="fa fa-instagram
                text-primary" style="margin-left: 11px; color: #000" aria-hidden="true"></i>
                </a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
                    Facebook<i class="fa fa-facebook-official
                text-primary" style="margin-left: 11px; color: #000" aria-hidden="true"></i>
                </a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
                    Linkedin<i class="fa fa-linkedin-square
                text-primary" style="margin-left: 11px; color: #000" aria-hidden="true"></i>
                </a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
                    Whatsapp<i class="fa fa-whatsapp
                text-primary" style="margin-left: 11px; color: #000" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>






<div id='modal-exemplo' class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Velit elementum</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span ariahidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom: 15px">
                    Etiam porta dolor eu nisi aliquet, nec fringilla velit elementum. Phasellus sed mi non est congue efficitur non sed ex.
                    Integer urna purus, blandit vitae est id, tempus feugiat nunc.Etiam porta dolor eu nisi aliquet, nec fringilla velit elementum.
                    Phasellus sed mi non est congue! Blandit vitae est id, tempus feugiat. <br />
                    Sed mi non est congue efficitur non sed ex. <br />
                    Integer urna purus, blandit vitae est id, tempus feugiat nunc.Etiam porta dolor eu nisi aliquet, nec fringilla velit elementum.
                    Porta dolor eu nisi aliquet, nec fringilla velit elementum. <br />
                    Est congue efficitur non sed ex. Integer urna purus, blandit vitae.
                    Integer urna purus, blandit vitae est id, tempus feugiat nunc. <br />
                    Est congue efficitur non sed Integer vitae.
                </p>

                <div class="row">
                    <div class="col-md-6 col-sm-2">
                        <div id="modal-carousel" class="carousel slide"
                             data-ride="carousel" data-interval="1700">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img method="get" src="~/imagens/carousel-2-img.jpg"
                                         class="img-responsive img-fluid" alt="Aperto de mão">
                                </div>

                                <div class="item">
                                    <img method="get" src="~/imagens/carousel-0-img.jpg"
                                         class="img-responsive img-fluid" alt="Pessoas debruçadas numa mesa">
                                </div>

                                <div class="item">
                                    <img method="get" src="~/imagens/carousel-1-img.jpg"
                                         class="img-responsive img-fluid" alt="Mesa com computador, celular e documentos">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
