@{
    ViewBag.Title = "Confirmação Redefinir Senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sua password foi resetada. Por favor, @Html.ActionLink("Clique aqui para logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
